body {height: 6274px;
background: #FFFFFF;
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.nav {
  text-align: center;
  font-size: 1rem;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 20px;
}

.nav-link {
  text-decoration: none;
  display: inline-block;
  padding: 13px 13px;
  color: #212529;
  margin-right: 5px;
}

.nav-link:hover {
  text-decoration:none;
  background-color: #d0ebff;
  border-bottom: 2px solid #339af0
}
.nav-link.current {
  border-bottom: 2px solid #1971c2;
}
.btn {
  padding: 10px 20px;
  font-size: 1rem;
}

  .nav-link {
    padding: 20px 20px;
  }
  .logo{width: 100px;
 position: absolute;
height: 43px;
margin-top: 15px;
margin-left: 100px;}
.yellowbar{position: absolute;
width: 1520px;
height: 50px;
top: 85px;
float: left;
background: #FFD95A;}
.truck{
  width: 37px;
margin-left: 200px;
padding-top: 7px;}
.trucktxt{
  margin-top: -30px;
margin-left: 255px;
font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 14px;
color: #000000;}

.stkr1{ position: absolute;
width: 550px;
left: 80px;
top: 150px;}

.heading{position: absolute;
width: 434px;
height: 48px;
left: 650px;
top: 130px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 48px;
color: #000000;
}
.price{position: absolute;
width: 434px;
height: 48px;
left: 650px;
top: 170px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 48px;
color: #000000;}

.description{position: absolute;
width: 200px;
height: 342px;
left: 650px;
top: 240px;
font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 38px;
color: #3F3F3F;
}
.cta{position: absolute;
width: 400px;
height: 70px;
left: 650px;
top: 520px;
background: #00B934;
border-radius: 4px;
border: white;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 48px;
color: #FFFFFF;
padding-left: 40px;}
.wt{ position: absolute;
left: 700px;
top: 535px;
width: 40px;}

.Trend{position: absolute;
width: 397px;
height: 65px;
left: 80px;
top: 650px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 65px;
color: #000000;}
.line2{position: absolute;
width: 120px;
height: 5px;
left: 250px;
top: 740px;
background: #FA524F;
border-radius: 15px;}
.fg2{
position: absolute;
width: 50px;
left: 90px;
top: -60px;}

.trendbox1{position: absolute;
width: 270px;
height: 400px;
left: 80px;
top: 830px;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.14);
box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.18);
border-radius: 2px;}
.stkrbox1{position: absolute;
width: 230px;
height: 190px;
left: 20px;
top: 20px;
border-radius: 2px;
}
.box1text{position: absolute;
width: 295px;
height: 29px;
left: 20px;
top: 210px;
font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 29px;
color: #000000;
}
.box1pricetxt{position: absolute;
width: 295px;
height: 29px;
left: 100px;
top: 250px;
font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 29px;
color: #000000;}
.box1taxtxt{position: absolute;
width: 295px;
height: 29px;
left: 60px;
top: 280px;
font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 29px;
color: #3F3F3F;}
.box1bt{position: absolute;
width: 158px;
height: 40px;
left: 55px;
top: 340px;
border-radius: 2px;
background: #000000;
font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 14px;
color: #FFFFFF;
}
.trendbox2{position: absolute;
width: 270px;
height: 400px;
left: 460px;
top: 830px;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.14);
box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.18);
border-radius: 2px;}

.trendbox3{position: absolute;
width: 270px;
height: 400px;
left: 840px;
top: 830px;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.14);
box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.18);
border-radius: 2px;}

.trendbox4{position: absolute;
width: 270px; 
height: 400px;
left: 1220px;
top: 830px;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.14);
box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.18);
border-radius: 2px;}

.trendbox5{position: absolute;
width: 270px;
height: 400px;
left: 80px;
top: 1310px;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.14);
box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.18);
border-radius: 2px;}
.stkrbox1{position: absolute;
width: 230px;
height: 190px;
left: 20px;
top: 20px;
border-radius: 2px;
}
.box1text{position: absolute;
width: 295px;
height: 29px;
left: 20px;
top: 210px;
font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 29px;
color: #000000;
}
.box1pricetxt{position: absolute;
width: 295px;
height: 29px;
left: 100px;
top: 250px;
font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 29px;
color: #000000;}
.box1taxtxt{position: absolute;
width: 295px;
height: 29px;
left: 60px;
top: 280px;
font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 29px;
color: #3F3F3F;}
.box1bt{position: absolute;
width: 158px;
height: 40px;
left: 55px;
top: 340px;
border-radius: 2px;
background: #000000;
font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 14px;
color: #FFFFFF;
}
.trendbox6{position: absolute;
width: 270px;
height: 400px;
left: 460px;
top: 1310px;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.14);
box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.18);
border-radius: 2px;}

.trendbox7{position: absolute;
width: 270px;
height: 400px;
left: 840px;
top: 1310px;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.14);
box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.18);
border-radius: 2px;}

.trendbox8{position: absolute;
width: 270px; 
height: 400px;
left: 1220px;
top: 1310px;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.14);
box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.18);
border-radius: 2px;}
